/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@keyframes blink{
  50% {opacity:0.5;}
}

@keyframes winPoint{
  20% {background-color: #008000a3;}
  23% {background-color: #ff000000;}
  40% {background-color: #008000a3;}
  43% {background-color: #ff000000;}
  60% {background-color: #008000a3;}
  63% {background-color: #ff000000;}
  80% {background-color: #008000a3;}
}

@keyframes losePoint{
  20% {background-color: #ff0000a3;}
  23% {background-color: #ff000000;}
  40% {background-color: #ff0000a3;}
  43% {background-color: #ff000000;}
  60% {background-color: #ff0000a3;}
  63% {background-color: #ff000000;}
  80% {background-color: #ff0000a3;}
}