@font-face {
  font-family: "pixeled";
  src: url("../assets/fonts/Pixeled.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ZCOOLQ";
  src: url("../assets/fonts/ZCOOLQingKeHuangYou-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}