.m-i{
  background: url('../assets/images/m-initial.svg') center;
}

.m-r{
  background: url('../assets/images/m-run.svg') center;
}

.m-j{
  background: url('../assets/images/m-jump.svg') center;
}

.f-i{
  background: url('../assets/images/f-initial.svg') center;
}

.f-r{
  background: url('../assets/images/f-run.svg') center;
}

.f-j{
  background: url('../assets/images/f-jump.svg') center;
}

.m-i{
  background: url('../assets/images/m-initial.svg') center;
}

.game__badFriend{
  background: url('../assets/images/badFriend.svg') center;
}

.game__badColleague{
  background: url('../assets/images/badFriend.svg') center;
}

.game__train{
  background: url('../assets/images/train.svg') center;
}

.game__thief{
  background: url('../assets/images/thief.svg') center;
}

.game__virus{
  background: url('../assets/images/virus.svg') center;
}

.challenge1{
  background: url('../assets/images/calou.svg') center;
}

.game .game__container .challenge2{
  background: url('../assets/images/brontis.svg') center;
  background-size: 30%;
  background-repeat: no-repeat;
}

.challenge3{
  background: url('../assets/images/thibord.svg') center;
}

.challenge4{
  background: url('../assets/images/peersman.svg') center;
}

.game .game__container .challenge5{
  background: url('../assets/images/chomel.svg') center;
  background-size: 24%;
  background-repeat: no-repeat;
}

